body {
   background-color: rgb(206, 245, 231);
   border: 100px;
}
textarea {
   width: 1000px;
}

#username {
   width: 1000px;
}
#email {
   width: 1000px;
}
h1 {
   color: rgb(17, 17, 104);
}
h2 {
   color: rgb(9, 9, 116);
}
h3 {
   color: rgb(11, 11, 119);
}
a {
margin: 10px;;
   color: brown;
}
button {
 background-color: rgb(4, 4, 107);

}
input[type="submit"]{
   background-color: rgb(130, 130, 237);
   color: aliceblue;
}
input[type="reset"]{
   background-color: rgb(130, 130, 237);
   color: aliceblue;
}
        table {
            width: 100%;
            border-collapse: collapse;
            border: 2px solid #000;
            border-radius: 20px;
        }

        th, td {
            border: 1px solid #000;
            padding: 12px;
           
            border-radius: 20px;
        }

        th {
            background-color: #ccc;
            font-weight: bold;
            text-align: left;
            border-radius: 20px;
        }

        td {
            vertical-align: top;
            border-radius: 20px;
            
        }
    h3 {
      margin-left: 1%
    }
    h2 {
      margin-left: 1%
    }
    p {
      margin-left: 1%
    }
     h5 {
      margin-left: 1%
    }
    input {
      margin-left: 1%
    }
    label {
       margin-left: 1%
    }
    option {
       margin-left: 1%
    }
    select {
       margin-left: 1%
    }
    img {
      margin-left: 1%
    }
   .header {
      color: rgb(162, 162, 238);background-color: blanchedalmond;
border-radius: 10px;
   }
   .content {
      background-color: blanchedalmond;
   border-radius: 10px;
   text-align: left;
   }
   .footer {
      background-color: blanchedalmond;
      border-radius: 10px;
   }
   .content10 {
      background-color: rgb(184, 184, 240);
      border-radius: 10px;
      text-align: center;
   }
   .header {
      background-color: rgb(187, 187, 240);
      border-radius: 10px;
   }
